@import "./../global/global.scss";

.homeWrapper {

  margin: 0 auto;
  height: $main-height;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  padding: 5px;

  .homeEventWrapper {
    width: 90%;
    // border: 1px solid $borderColor;
    // border-radius: $border-radius-main;
    flex: 0 0 50%;
    overflow-y: auto;
  }
}

