@import "./global/global.scss";

.headerContainer {
  height: $header-height;

  .headerNav {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

    .logo:hover {
      cursor: pointer;
    }
  }
}