@import "./global/global.scss";

.nav {
  height: $nav-height;
  border-top: 1px solid $borderColor;

  .navList {
    display: flex;
    justify-content: space-between;
    height: 100%;

    .navListItem {
      flex: 1 1 calc(100vw/3);
      list-style: none;

      a {
        color: white;
        text-decoration: none;
        height: 100%;
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        font-size: $fontsize-nav;
        gap: 4px;
      }
    }

    .activeNavItem {
      background-color: $hoverColor;
    }
  }
}