@import "./global/variables.scss";

.reuseCard{
    background-color: $darkBkg;
    color: $fontColor;
    border: 1px solid $borderColor;
    // padding: 5px 15px;
    border-width: 2px;
    border-radius: $border-radius-card;
    // margin: 15px;
    // padding: 25px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}