@import "./variables.scss";

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  transition: background-color $hoverTransition, color $hoverTransition;
}

body {
  height: 100vh;
  background-color: $darkBkg;
  color: $fontColor;
}