// colors

$darkBkg: #27304A;
$fontColor: #FFFFFF;
$borderColor: #FFFFFF;

// sizes
$header-height: 10%;
$footer-height: 10%;
$nav-height: 10%;
$main-height: calc(100vh - ($header-height + $nav-height));

$padding-sides-main: 24px;

// border-radius
$border-radius-main: 5px;
$border-radius-button: 20px;
$border-radius-card: 10px;

// fonts